.container{
	
	padding: 5%;
}
dd{
	margin-button: 5%;
}
label{
	color: #3C3C3C;
}
h1{
	color:#000;
	text-align: center;
}
div.cc{
	text-align: center;
}
thead{
	background: #3C3C3C;
	color: #fff;
}
table{
	
	text-align: center;
}
th{
	text-align: center;
}